*{
    margin: 0;
    padding: 0;
}
.box{
    width:200px;
    height: 200px;
    background:url("../img/cat.jpg");
    /* 默认情况下,webpack无法处理文件中的URL地址,不管是图片还是字体库
     需要安装插件 url-loader  file-loader
    */
    background-size: 100% 100%;
    background-color: white;
}